# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Streamlit cache
.streamlit/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code and PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.csv
*.xlsx
*.sqlite3
*.db
*.bak

# Schedule and temp files
/data/optimized_schedule.txt
*.tmp
*.temp

# Output images
/assets/*.png
